<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

<display-name>Prices Paid Portal Analytics Web Application</display-name>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>initServlet</servlet-name>
        <servlet-class>p3.InitializeServlet</servlet-class>
        <init-param>
            <param-name>ldapAuth</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ldapHost</param-name>
            <param-value>ldap://ecoh3s-dc01.ent.ds.gsa.gov:389</param-value>
        </init-param>
        <init-param>
            <param-name>ldapBindUserId</param-name>
            <param-value>CN=FCOH1B-Pass_Test_User,OU=SAUsers,OU=Admins,DC=ent,DC=ds,DC=gsa,DC=gov</param-value>
        </init-param>
        <init-param>
            <param-name>ldapBindPassword</param-name>
            <param-value>P@ssword1234!</param-value>
        </init-param>
        <init-param>
            <param-name>zipfileuploadlocation</param-name>
            <param-value>/web/tmp_file_upload/</param-value>
        </init-param>
        <init-param>
            <param-name>ombmaxredirectlink</param-name>
            <!-- <param-value>login-p3.jsp</param-value> -->
            <param-value>/ReturnLoginViaMax</param-value>
        </init-param>
        <init-param>
            <param-name>restservername</param-name>
            <param-value>http://localhost:8764/api/apollo/query-pipelines/p3-search-pipeline/collections/</param-value>
        </init-param>
        <init-param>
            <param-name>queryPipelinePath</param-name>
            <param-value>/api/apollo/query-pipelines/p3-search-pipeline/collections/</param-value>
        </init-param>
        <init-param>
            <param-name>fileuploadserviceurl</param-name>
            <param-value>https://extcws.fas.gsa.gov:443/soatest/RESTFileAttachmentService/P3FileIngestAPIREST/RESTFileIngestAPI/UploadService</param-value>
        </init-param>
        <init-param>
            <param-name>fileuploadauthurl</param-name>
            <param-value>https://extcws.fas.gsa.gov:443/soatest/SOAPMAuthenticationService/P3FileIngestAPIREST/RESTFileIngestAPI/CheckUserService</param-value>
        </init-param>
        <init-param>
            <param-name>dashboardLocation</param-name>
            <param-value>#/dashboard</param-value>
        </init-param>
        <init-param>
            <param-name>solrCredentials</param-name>
            <param-value>p3user:12nbUNi3OLKjkij</param-value>
        </init-param>
        <init-param>
        	<param-name>bspEnvironment</param-name>
        	<param-value>true</param-value>
        </init-param>
        <init-param>
        	<param-name>casServerUrl</param-name>
        	<param-value>https://login.test.max.gov/cas/</param-value>
        </init-param>
	<init-param>
		<param-name>casServerProdUrl</param-name>
		<param-value>https://login.max.gov/cas/</param-value>
	</init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>


    <filter>
        <filter-name>AccessCheckFilter</filter-name>
        <filter-class>p3.AccessCheckFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AccessCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>ClickjackFilterDeny</filter-name>
        <filter-class>org.owasp.filters.ClickjackFilter</filter-class>
        <init-param>
            <param-name>mode</param-name>
            <param-value>DENY</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ClickjackFilterDeny</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ************************* -->

    <!-- Sign out not yet implemented -->
    <!-- <filter-mapping> <filter-name>CAS Single Sign Out Filter</filter-name>
      <url-pattern>/*</url-pattern> </filter-mapping> -->


   <!-- P3 is not using the CAS filter and need to comment it out and test -->
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://login.max.gov/cas/login</param-value>
        </init-param>
        <init-param>
            <param-name>service</param-name>
            <param-value>https://p3.cap.gsa.gov/gui/ReturnLoginViaMax</param-value>
        </init-param>
        <init-param>
            <param-name>gateway</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>


    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Saml11TicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://login.max.gov/cas/</param-value>
        </init-param>
        <init-param>
            <param-name>service</param-name>
            <param-value>https://p3.cap.gsa.gov/gui/ReturnLoginViaMax</param-value>
        </init-param>
        <init-param>
            <param-name>artifactParameterName</param-name>
            <param-value>SAMLArt</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>

    <filter>
        <filter-name>CAS Assertion Thread Local Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
    </filter>
    <servlet>
        <description></description>
        <display-name>ProxyServlet</display-name>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>allowedRequestPattern3</param-name>
            <param-value>solr/p3-G/select.*</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/solr/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CasRedirectServlet</servlet-name>
        <servlet-class>p3.CasRedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CasRedirectServlet</servlet-name>
        <url-pattern>/ReturnLoginViaMax</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SolutionFinder</servlet-name>
        <servlet-class>p3.SolutionFinderService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SolutionFinder</servlet-name>
        <url-pattern>/solutionfinder</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>p3.Logout</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CheckSession</servlet-name>
        <servlet-class>p3.CheckSession</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckSession</servlet-name>
        <url-pattern>/CheckSession</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>listener.SessionListener</listener-class>
    </listener>

    <!-- <servlet-mapping> <servlet-name>Jersey Web Application</servlet-name>
      <url-pattern>/api/*</url-pattern> </servlet-mapping> -->
</web-app>
