<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <script src="vendor/xhr-xdr-adapter.js" type="text/javascript"></script>
    <script>
      window.paceOptions = {
        ajax: {
          trackMethods: ["GET", "POST"],
          trackWebSockets: false
        },
        document: false,
        restartOnPushState: false,
        "elements": {"selectors": [".ng-binding"] }
      };
    </script>
    <script src="vendor/pace.min.js" type="text/javascript">pace.start()</script>
    <link href="css/pace-theme-center-atom.css" rel="stylesheet" />


    <link rel="stylesheet" href="css/bootstrap.light.min.css" title="light">
    <link rel="stylesheet" href="css/timepicker.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/rotate.css">
  <!--scrolling css-->
  <!-- <link rel="stylesheet" href="css/jquery.dataTable.min.css"> -->
    <!-- load the root require context -->
    <script src="../p3/js/jquery-1.11.3.min.js"></script>
  <!--adding for scrolling-->
   <script src="../p3/js/jquery.dataTables.min.js"></script>
    <script src="help.js"></script>
    <script src="vendor/require/require.js"></script>
    <script src="app/components/require.config.js"></script>
    <script>require(['app'], function() {})</script>
    <link rel="stylesheet" type="text/css" href="../p3/css/p3-os-v1.css">
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=9,">-->
    <meta name="viewport" content="width=device-width">
    <title>Prices Paid Portal</title>
    <link rel="icon" type="image/png" href="../p3/art/favicon.png">
    <!--
    <script id="_fed_an_ua_tag"
        src="vendor/Universal-Federated-Analytics-Min.1.0.js?ver=true&agency=acquisition.gov&pua=UA-48986383-1"
        type="text/javascript"></script>
     -->

    <script>
	var gaUACode = "UA-48986383-1";

	try {
		if ( window.location.hostname.indexOf( "p3-dev.cap.gsa.gov" ) >= 0 ) {
			gaUACode = "UA-48986383-3";
		} else if ( window.location.hostname.indexOf("p3-test.cap.gsa.gov" ) >= 0 ) {
			gaUACode = "UA-48986383-4";
		} else if ( window.location.hostname.indexOf("p3-staging.cap.gsa.gov" ) >= 0 ) {
			gaUACode = "UA-48986383-5";
		}
	} catch ( err ) { console.log( err ); }

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', gaUACode, 'acquisition.gov',{'cookieDomain':'none'});
        ga('send', 'pageview');

		//get the context path from the url. ( for example : '/demo','/gui' etc )
  		//This only works if there is context path other than root ( '/' )
  	var contextPath = window.location.pathname.substring(0, window.location.pathname.indexOf("/",2));

	var validContextPath = '';

	if ( contextPath == '/gui' ) {
		validContextPath = '/gui';
	} else if ( contextPath == '/demo' ) {
		validContextPath = '/demo';
	} else {
		validContextPath = '/gui';
	}
		
    </script>

</head>
<body>

	<script>
	document.write('<a href="' + validContextPath + '/p3-508.jsp" class="sr-only">Please click enter now to use the accessable version of this application.</a>');
	</script>
    
  <div ng-cloak>
    <link rel="stylesheet"
      ng-href="css/bootstrap.{{dashboard.current.style||'dark'}}.min.css">
    <link rel="stylesheet" href="css/bootstrap.light.min.css"
      title="Light">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <div ng-repeat='alert in dashAlerts.list'
      class="alert-{{alert.severity}} dashboard-notice" ng-show="$last"
      style="position: fixed">
      <button type="button" class="close"
        ng-click="dashAlerts.clear(alert)" style="padding-right: 50px">&times;</button>
      <strong>{{alert.title}}</strong> <span
        ng-bind-html-unsafe='alert.text'></span>
      <div style="padding-right: 10px" class='pull-right small'>
        {{$index + 1}} alert(s)</div>
    </div>
    <!-- /START NAVABR -->

    <div id="r_nav-container">
      <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <!--<button data-target="#ag-links" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>-->
            <a href="https://hallways.cap.gsa.gov" class="navbar-brand"> <span
              class="brand-back" style="z-index: 1000;"></span> <span
              class="brand-text">Acquisition Gateway</span>
            </a>
	    <a href="https://hallways.cap.gsa.gov/app/#/app-viewer/wireless-app-0" class="navbar-brand"> <span
              class="brand-back" style="z-index: 1000;"></span> <span
              class="brand-text">FSSI Wireless Data</span>
            </a>
	    <a href="https://hallways.cap.gsa.gov/app/#/app-viewer/gss-laptop-desktop" class="navbar-brand"> <span
              class="brand-back" style="z-index: 1000;"></span> <span
              class="brand-text">Laptop/Desktop Finder</span>
            </a>
	    <a href="https://hallways.cap.gsa.gov/app/#/app-viewer/furniture-finder" class="navbar-brand"> <span
              class="brand-back" style="z-index: 1000;"></span> <span
              class="brand-text">Furniture Finder</span>
            </a>
          </div>
          <div id="ag-links" class="collapse navbar-collapse">

            <div style="margin-top: 5px;">

              <ul class="nav navbar-nav pull-right">
                <li><a href="mailto:p3@gsa.gov">Contact Us</a></li>
                <li id="logoutLink"><a>Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!-- /END NAVABR -->
    <!--================ HEADER ========================-->
    <!-- #Header/Search Block -->
    <div class="homepage-headBox-box-int">
      <div class="container">
        <h1 class="DINCondensedBold">PRICES PAID PORTAL</h1>
      </div>
    </div>
    <!-- /END #Header/Search Block -->

    <div class="clearfix">&nbsp;</div>


    <div class="content-wrapper">
      <div class="container-fluid main">
        <div class="row-fluid">
          <div ng-view></div>
        </div>
      </div>
    </div>

  </div>

  <!--==================================================
          FOOTER
================================================== -->

  <div id="r_footer">
    <div class="container-fluid">

      <h2 class="DINCondensedBold">ACQUISITION GATEWAY</h2>


    </div>

  </div>
  <!--
    <script src="../p3/js/jquery-1.11.3.min.js"></script>
  <script src="help.js"></script>

   -->

  <script src="../p3/js/custom.js"></script>
</body>

</html>
